<div class='container'>
  <div class='header clearfix'>
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="/vr">VR world</a></li>
        <li role="presentation"><a href="#">Contact</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Ocularis: VR constructor</h3>
  </div>
  {{#if settings}}
    {{> _settings}}
  {{/if}}
</div>