<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title}}</title>
    <link id="#favicon" href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

  {{{body}}}

  <!-- External dependency load -->
  <script src="external/jquery-2.2.0.min.js"></script>
  <script src="external/underscore-min.js"></script>
  <script src="external/three.min.js"></script>
  <script src="external/VRControls.js"></script>
  <script src="external/VREffect.js"></script>
  <script src="external/webvr-polyfill.js"></script>
  <script src="external/webvr-manager.js"></script>
  <!-- Our in-house made helper functions -->
  <script src="js/lib/transforms.js"></script>
  <!-- Internal js dependency load -->
  <script src="js/ocularis.js"></script>
  <!-- Custom js dependency load -->
  <script src="js/configuration.js"></script>
  <!-- Instance level modules load -->
  <script src="js/models/feed.js"></script>
  <script src="js/components/ocularis-cube.js"></script>
  <script src="js/components/ocularis-pointer.js"></script>
  <!-- Top level modules load -->
  <script src="js/light.js"></script>
  <script src="js/camera.js"></script>
  <script src="js/scene.js"></script>
  <script src="js/renderer.js"></script>
  <script src="js/motion.js"></script>
  <script src="js/view.js"></script>
  <script src="js/light.js"></script>
  <script src="js/draw.js"></script>
  <script src="js/events.js"></script>
  <script src="js/engine.js"></script>

  </body>
</html>
