<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title}}</title>
    <link id="#favicon" href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="/css/style-vr.css">
  </head>
  <body>

  {{{body}}}

    <!-- External dependency load -->
    <script src="external/jquery-2.2.0.min.js"></script>
    <script src="external/three.min.js"></script>
    <script src="external/underscore-min.js"></script>
    <script src="external/VRControls.js"></script>
    <script src="external/VREffect.js"></script>
    <script src="external/webvr-polyfill.js"></script>
    <script src="external/webvr-manager.js"></script>
    <script src="external/leap/leap-0.6.4.min.js"></script>
    <script src="external/leap/leap-plugins-0.1.11.min.js"></script>

    <!-- All program logic -->
    <script src="js/vr.js"></script>

  </body>
</html>